<div style="border-top: 1px rgb(214, 214, 214) solid; width: 90%; margin: 2em auto"></div>

<h1 style="text-align: center">Workout History</h1>
<div style="width: 90%; margin: 0 auto">
    <button mat-raised-button #clearBtn style="width: 100%;">Clear history</button>
</div>
<ul *ngIf="(this.workouts$ | async) as workouts" style=" list-style-type:none; padding: 1em">
    <li *ngFor="let workout of workouts; let i = index" style="margin-top:1em;">
        <div style="background-color: rgb(233, 233, 233); padding: 0.5em; border-radius: 1em;">
            <strong>Date:</strong> {{workout.date | date: 'short'}}
            <br>
            <strong>Rounds:</strong> {{workout.rounds}}
            <br>
            <strong>Duration:</strong> {{workout.duration}} Seconds
            <br>
            <strong>Breaktime:</strong> {{workout.breakTime}} Seconds
        </div>
    </li>
</ul>