<form [formGroup]="lanuageForm">
    <div style="margin: 2em auto;text-align: center;">
        <mat-form-field appearance="outline" style ="width: 92%;">
            <mat-label>Announcement Language</mat-label>
            <mat-select placeholder="Announcement Language" formControlName="language" style ="font-size: 16px;">
                <mat-option value="German">German</mat-option>
                <mat-option value="English">English</mat-option>
                <mat-option value="French">French</mat-option>
                <mat-option value="Spanish">Spanish</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
</form>