<form [formGroup]="hiitForm">
    <div style="display:flex; flex-direction: column;">
        <label>
            Rounds
            <input type="number" formControlName="rounds">
        </label>
        <label>
            Duration (seconds)
            <input type="number" formControlName="duration">
        </label>
        <label>
            Time to get Ready (seconds)
            <input type="number" formControlName="initialDelay">
        </label>
        <label>
            Break Time (seconds)
            <input type="number" formControlName="breakTime">
        </label>
    </div>
    <button #submitButton type="button" [disabled]="this.hiitForm.status === 'INVALID'">
        Start</button>
        <button #stopBtn type="button">
            Stop</button>
    <div>
        <strong>Overall time:</strong> {{
        this.secondsToDhms(this.hiitForm.get('rounds')?.value *
        (this.hiitForm.get('duration')?.value) + (this.hiitForm.get('rounds')?.value - 1) *
        this.hiitForm.get('breakTime')?.value) }}
    </div>
</form>