<form [formGroup]="hiitForm">
    <div style="display:flex; justify-content: space-between; margin: 0 auto; font-size: 17px;">
        <div style="display:flex; flex-direction: column; width: 42%; margin-left: 1em">
            <mat-form-field appearance="outline">
                <mat-label>Rounds</mat-label>
                <input placeholder="number" matInput type="number" min="1" formControlName="rounds">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Duration
                </mat-label>
                <input placeholder="seconds" matInput type="number" min="1" formControlName="duration">
            </mat-form-field>
        </div>
        <div style="display:flex; flex-direction: column; width: 42%;margin-right: 1em">
            <mat-form-field appearance="outline">
                <mat-label>Time to get Ready</mat-label>
                <input placeholder="seconds" matInput type="number" min="0" formControlName="initialDelay">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Break Time</mat-label>
                <input placeholder="seconds" matInput type="number" min="1" formControlName="breakTime">
            </mat-form-field>
        </div>
    </div>
    <div
        style="width: 90%; margin: 0em auto; margin-bottom:1em; text-align: center; font-size: 1.5em; background-color: rgb(198, 198, 198); border-radius: 2em;">
        <p style="padding: 0.5em;">
            <strong>Overall time:</strong> {{
            this.secondsToDhmsDupl(this.hiitForm.get('rounds')?.value *
            (this.hiitForm.get('duration')?.value) + (this.hiitForm.get('rounds')?.value - 1) *
            this.hiitForm.get('breakTime')?.value) }}
        </p>
    </div>
    <div style="display:flex; justify-content: space-between; height:125px;">
        <button style="flex-basis: 30%; margin-left:1em;" #submitButton type="button"
            [disabled]="this.hiitForm.status === 'INVALID'" mat-raised-button>
            <mat-icon inline style="font-size: 3em">play_arrow</mat-icon>
        </button>
        <button style="flex-basis: 30%" type="button" mat-raised-button #pauseBtn
            disabled="{{!(this.timerIsTicking$ | async)}}">
            <ng-container *ngIf="!(this.resting$ | async); else continue">
                <mat-icon inline style="font-size: 3em;">pause</mat-icon>
            </ng-container>
            <ng-template #continue>
                <mat-icon inline style="font-size: 3em;">forward</mat-icon>
            </ng-template>
        </button>
        <button style="flex-basis: 30%;margin-right:1em" #stopBtn type="button" mat-raised-button>
            <mat-icon inline style="font-size: 3em">stop</mat-icon>
        </button>
    </div>
</form>